@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Roman.woff2') format('woff2'),
      url('/fonts/HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
      url('/fonts/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: 'Helvetica Neue', serif;
    transition: all 0.5s ease-out;
  }
}

@layer utilities {
  .header-links {
    position: relative;
  }
  .header-links::before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0%;
    height: 3px;
    background: #0f0f0f;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .header-links:hover::before {
    width: 100%;
  }
  .cursor.media-blend {
    z-index: 100;
    mix-blend-mode: exclusion;
  }
  .cursor.media-blend .cursr-media {
    filter: invert(1);
  }
  .hover-js {
    cursor: none;
  }
  .testimonials .slick-prev {
    left: initial;
    right: 28px;
    top: 90%;
    z-index: 9;
  }

  .testimonials .slick-next {
    bottom: 0;
    top: 90%;
    z-index: 9;
  }
  .testimonials .slick-prev::before {
    content: initial;
  }
  .testimonials .slick-next::before {
    content: initial;
  }

  .animate-left {
    animation: infinite-slide 80000ms linear infinite;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    transition: 1s ease;
  }

  .animate-right {
    animation: infinite-slide-revert 80000ms linear infinite;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    transition: 1s ease;
  }

  @keyframes infinite-slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
      /*The width of the page needs to be taken into consideration*/
    }
  }

  @keyframes infinite-slide-revert {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
      /*The width of the page needs to be taken into consideration*/
    }
  }

  .footer-link {
    font-size: 42px;
    letter-spacing: -0.01rem;
    font-weight: 500;
    line-height: 1;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .footer-link:hover {
    color: white;
    -webkit-text-stroke: 1px black;
  }
}
